*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: rgb(44, 39, 39);
	background-image: url("pizza_background.jpg");
	background-position: center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* body {
	background-color: rgb(44, 39, 39);
	background-image: url("pizza_background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
} */

nav {
	padding-top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
	/* background-color: #5d4954; */
	background: linear-gradient(to top, #5d4954,rgb(61, 54, 58));
}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}
.logo h4 a {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	text-decoration: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links li{
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 2px;
	font-style: bold;
	font-size: 15px;
}

.stack {
	display: none;
	cursor: pointer;
}

.stack div{
	width: 25px;
	height: 5px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3 ease;
}

@media screen and (max-width: 1024px){
	.nav-links {
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	body {
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #5d4954;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.stack {
		display: block;
	}
}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-7px, -7px);
}