#wrapper {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-wrapper {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40rem;
    max-width: 40rem;
    background-color: rgb(22, 17, 17);
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 1);
    border-radius: 1rem;
    z-index: 1;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #5d4954, rgb(61, 54, 58));
    border-bottom-right-radius: 30%;
    /* border-bottom-left-radius: 50%; */
    z-index: -1;
}

.cross {
    position: absolute;
    top: 2.5rem;
    /*left: 35rem;*/
    left: 85%;
    cursor: pointer;
    z-index: 2;
}

.cross div {
    /*background-color: rgb(226, 226, 226);*/
    /*transition: all 0.3 ease;*/
}

.cross-line {
    width: 25px;
    height: 5px;
    margin: 5px;
    /*transition: all 0.3 ease;*/
    background-color: rgb(226, 226, 226);
}

#line-1 {
    transform: rotate(-45deg) translate(-1px, 1px);
}

#line-2 {
    transform: rotate(45deg) translate(-6px, -6px);
}

#form-exit {
    cursor: pointer;
}

.form-heading {
    color: rgb(226, 226, 226);
    font-size: 2.5rem;
    position: absolute;
    top: 2.5rem;
    left: 10rem;
}

.register-form {
    transform: translateX(10rem);
    padding: 2rem 0;
    /* background: linear-gradient(to top, #5d4954,rgb(61, 54, 58)); */
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .5);
    width: 60%;
}

.input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
    color: rgb(226, 226, 226);
}

.input-group input {
    width: 80%;
    padding: 0.5rem;
    position: relative;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(226, 226, 226);
    /* color: #fff; */
}

.input-group > i {
    font-size: 2rem;
    margin-right: 1rem;
    color: black;
}

.input-group .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 1px;
}

.input-group .bar::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before {
    width: 100%;
}

.input-group button {
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to top, #5d4954, rgb(61, 54, 58));
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group button:focus,
.input-group button:hover {
    background: linear-gradient(to bottom, #5d4954, rgb(61, 54, 58));
}

.switch-login {
    text-align: center;
}

.switch-login a {
    text-decoration: none;
    color: rgb(43, 39, 41);
    /* font-size: 1.5rem; */
}

.switch-login a span {
    color: #63565d;
}

.switch-login a span:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #63565d;
}

@media screen and (max-width: 786px) {

    .form-heading {
        transform: initial;
        left: 10%;
    }

    /* .form-container::before{
        height: 10rem;
    }*/
    /*.form-heading{
        left: 50%;
        transform: translateX(50%);
    }*/
    form {
        transform: initial;
    }

}

.select-role {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 80%;
    height: 2rem;
    border: none;
    background-color: rgb(226, 226, 226);
    font-size: 1rem;
}

.select-role option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    height: 2rem;
    font-size: 1rem;
}

/*Account update view*/
#account-wrapper {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-account-container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40rem;
    max-width: 40rem;
    background-color: rgb(22, 17, 17);
    position: relative;
    padding: 7rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 1);
    border-radius: 1rem;
    z-index: 1;
}

.form-account-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #5d4954, rgb(61, 54, 58));
    border-bottom-right-radius: 30%;
    /* border-bottom-left-radius: 50%; */
    z-index: -1;
}

.update-account-form {
    transform: translateX(5rem);
    padding-top: 2rem;
    width: 60%;
}

.remove-account-form {
    transform: translateX(5rem);
    padding-top: 2rem;
    width: 60%;
}

.tab-window {
    transform: translateX(2rem);
    position: relative;
    padding: 2rem 0;
    padding-left: 3rem;
    background-color: rgb(226, 226, 226);
    width: 90%;
    border-radius: 2rem;
}

.tabs-account {
    font-size: 2rem;
    overflow: hidden;
    padding: 1rem;
    /*border: 1px solid rgb(226, 226, 226);*/
    /*background-color: #f1f1f1;*/
}

.tabs-account button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 2rem;
}

.tabs-account button:hover {
    background-color: #ddd;
}

.tabs-account button:link {
    background-color: #ccc;
}