{% extends "./index.html" %}

{% block title %} About Team Pizza {% endblock %}

{% block content %}
    <div id="basic_container">
        <div class="text_div">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <p>This service allow you to order and eat pizza with us.</p>
            <p>Our pizza order master is Thomas D.</p>
            <p>We order pizza every thursday 11:30</p>
        </div>
    </div>
{% endblock %}