{% extends "../TeamPizza/index.html" %}

{% block title %} Join to order - Team Pizza {% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div class="form-join-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Join to order</span>
            <div class="tab-window">
                <div id="join-order-form">
                    <form class="join-order-class-form"
                          action="/order/update-contribution/{{ hash_id }}/{{ contribution_id }}/" method="post"
                          enctype='application/json'>
                        {% csrf_token %}
                        <div class="input-group">
                            <i class="fas fa-pizza-slice"></i>
                            {% if contribution and contribution.number %}
                                <input id="order-elements-id" name="pieces" min="1" step="1"
                                       type="number" pattern="[0-9]{1,2}" value="{{ contribution.number }}"
                                       style="font-size: 1.2rem" required>
                            {% else %}
                                <input id="order-elements-id" name="pieces" min="1" step="1"
                                       type="number" pattern="[0-9]{1,2}" value="1" style="font-size: 1.2rem" required>
                            {% endif %}
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-check-square"></i>
                            <select class="select-role" name="ord_type" style="font-size: 1.2rem">
                                {% if contribution.ord_type == "B" %}
                                    <option selected value="B">Big</option>
                                    <option value="S">Small</option>
                                    <option value="O">Other meal</option>
                                {% elif contribution.ord_type == "S" %}
                                    <option value="B">Big</option>
                                    <option selected value="S">Small</option>
                                    <option value="O">Other meal</option>
                                {% else %}
                                    <option value="B">Big</option>
                                    <option value="S">Small</option>
                                    <option selected value="O">Other meal</option>
                                {% endif %}
                            </select>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-pen"></i>
                            <textarea id="create-order-description" name="description"
                                      class="input-group">{{ contribution.description }}</textarea>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            {% if bad_param %}
                                <a style="color: black">{{ bad_param }}</a>
                            {% endif %}
                            <button id="joinToOrderButton">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/join_to_order.js"></script>
{% endblock %}