{% extends "../TeamPizza/index.html" %}

{% block title %} Account - Team Pizza {% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div class="form-order-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Order</span>
            <div class="tab-window">
                <div id="create-order-form" style="display: none">
                    <a>TEST</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/create_order.js"></script>
    <script src="/static/change_div_content.js"></script>
{% endblock %}