{% extends "../TeamPizza/index.html" %}

{% block title %} Opened orders - Team Pizza {% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div class="form-order-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Order information's</span>
            <div class="tab-window">
                <div id="opened-order-id">
                    {% if order.is_open %}
                        <h2 class="order-header">Order - Open</h2>
                    {% else %}
                        <h2 class="order-header">Order - Closed</h2>
                    {% endif  %}
                    <table id="order-table-id" class="order-table">
                        <tr>
                            <th>Owner:</th>
                            <th>{{ order.order_owner.first_name }} {{ order.order_owner.last_name }}</th>
                        </tr>
                        <tr>
                            <th>Predicted time:</th>
                            <th>{{ order.prediction_order_time }}</th>
                        </tr>
                        {% if order.description %}
                            <tr>
                                <th>Description:</th>
                                <th>{{ order.description }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Open time:</th>
                            <th>{{ order.open_time }}</th>
                        </tr>
                        {% if not order.is_open and order.close_time %}
                            <tr>
                                <th>Close Time:</th>
                                <th>{{ order.close_time }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Small pieces:</th>
                            <th>{{ small_pieces }}</th>
                        </tr>
                        <tr>
                            <th>Big pieces:</th>
                            <th>{{ big_pieces }}</th>
                        </tr>
                        <tr>
                            <th>All pieces:</th>
                            <th>{{ all_pieces }}</th>
                        </tr>
                        {% if user.id == order.order_owner.id %}
                            <tr>
                                <th>Update:</th>
                                <th>
                                    <div class="order-option-preview">
                                        <button onclick="location.href='/order/update/{{ order.hash_id }}'"
                                                class="order-table-button">
                                            <i class="fab fa-telegram-plane"></i>
                                        </button>
                                    </div>
                                    <a style="color: red">{{ bad_param }}</a>
                                </th>
                            </tr>
                            <tr>
                                <th>Close:</th>
                                <th>
                                    <div class="order-option-preview">
                                        <form method="post" action="/order/close/">
                                            {% csrf_token %}
                                            <input hidden name="hash_id" type="text"
                                                   value="{{ order.hash_id }}">
                                            <button class="order-table-button">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <a style="color: red">{{ bad_param }}</a>
                                </th>
                            </tr>
                            <tr>
                                <th>Delete:</th>
                                <th>
                                    <div class="order-option-preview">
                                        <form method="post" action="/order/delete/">
                                            {% csrf_token %}
                                            <input hidden name="hash_id" type="text"
                                                   value="{{ order.hash_id }}">
                                            <button class="order-table-button">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <a style="color: red">{{ bad_param }}</a>
                                </th>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div id="contribution-order-id">
                    <h2 class="order-header">Contributions</h2>
                    {% for contribution in contributions %}
                        <table class="order-table">
                            <tr>
                                <th>Participant:</th>
                                <th>{{ contribution.contribution_owner.first_name }} {{ contribution.contribution_owner.last_name }}</th>
                            </tr>
                            <tr>
                                <th>Pieces:</th>
                                <th>{{ contribution.pieces_number }}</th>
                            </tr>
                            {% if contribution.description %}
                                <tr>
                                    <th>Description:</th>
                                    <th>{{ contribution.description }}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Size</th>
                                {% if contribution.size == 'B' %}
                                    <th>Big</th>
                                {% else %}
                                    <th>Small</th>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Joining time:</th>
                                <th>{{ contribution.add_contr_time }}</th>
                            </tr>
                            <tr>
                                <th>Was updated?</th>
                                <th>{{ contribution.was_updated }}</th>
                            </tr>
                            {% if user.id == contribution.contribution_owner.id %}
                                <tr>
                                    <th>Update:</th>
                                    <th>
                                        <div class="order-option-preview">
                                            <button onclick="location.href='/order/update-contribution/{{ contribution.order.hash_id }}/{{ contribution.id }}'"
                                                    class="order-table-button">
                                                <i class="fab fa-telegram-plane"></i>
                                            </button>
                                        </div>
                                        <a style="color: red">{{ bad_param }}</a>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Delete:</th>
                                    <th>
                                        <div class="order-option-preview">
                                            <form method="post" action="/order/delete-contribution/">
                                                {% csrf_token %}
                                                <input hidden name="hash_id" type="text"
                                                       value="{{ contribution.order.hash_id }}">
                                                <input hidden name="contribution_id" type="text"
                                                       value="{{ contribution.id }}">
                                                <button
                                                        class="order-table-button">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <a style="color: red">{{ bad_param }}</a>
                                    </th>
                                </tr>
                            {% endif %}
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="/static/create_order.js"></script>
    <script src="/static/change_div_content.js"></script>
{% endblock %}