{% extends "../TeamPizza/index.html" %}

{% block title %} Opened orders - Team Pizza {% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div class="form-order-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Order information's</span>
            <div class="tab-window">
                <div id="opened-order-id">

                    <table id="order-table-id" class="order-table">
                        <tr>
                            <th>Owner:</th>
                            <th>{{ order.order_owner.first_name }} {{ order.order_owner.last_name }}</th>
                        </tr>
                        <tr>
                            <th>Predicted time:</th>
                            <th>{{ order.prediction_order_time }}</th>
                        </tr>
                        {% if order.description %}
                            <tr>
                                <th>Description:</th>
                                <th>{{ order.description }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>is open?</th>
                            <th>{{ order.is_open }}</th>
                        </tr>
                        <tr>
                            <th>Open time:</th>
                            <th>{{ order.open_time }}</th>
                        </tr>
                        {% if order.is_open is False %}
                            <tr>
                                <th>Close Time:</th>
                                <th>{{ order.close_time }}</th>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/create_order.js"></script>
    <script src="/static/change_div_content.js"></script>
{% endblock %}