{% extends "../TeamPizza/index.html" %}

{% block title %} Account - Team Pizza {% endblock %}

{% block content %}
    <div id="order-wrapper">
        <div class="form-order-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Order options</span>
            <div class="tab-window">
                <div class="tabs-account">
                    <button style="cursor: pointer; background-color: #ccc" id="join-to-order-tab"
                            onclick="changeDivToOpenedOrders()">Opened</button>
                    <button style="cursor: pointer;" id="close-order-tab"
                            onclick="changeDivToClosedOrder()">Closed</button>
                    <button style="cursor: pointer;" id="create-order-tab"
                            onclick="changeDivToCreateOrder()">Create</button>
                </div>
                <div id="create-order-form" style="display: none">
                    <form class="create-order-class-form" action="/order/create/" method="post"
                          enctype='application/json'>
                        {% csrf_token %}
                        <div class="input-group">
                            <i class="fas fa-clock"></i>
                            <input id="predict-order-datetime-id" name="predict-order-time" type="datetime-local"
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-pen"></i>
                            <textarea id="create-order-description" name="description" class="input-group">Your order description...</textarea>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            {% if bad_param %}
                                <a style="color: black">{{ bad_param }}</a>
                            {% endif %}
                            <button id="createOrderButton">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="choose-order-table" style="display: block;">
                    <br>
                    <table id="table-with-open-orders" style="width:90%; text-align: center;">
                        <tr>
                            <th>Owner</th>
                            <th>Predicted Deadline</th>
                            <th>Description</th>
                            <th>Preview</th>
                            <th>Join</th>
                        </tr>
                        {% for order in order_list %}
                            <tr>
                                <td>{{ order.order_owner }}</td>
                                <td>{{ order.prediction_order_time }}</td>
                                <td>{{ order.description }}</td>
                                <td>
                                    <button id="preview-ref"
                                            onclick="location.href='/order/preview-order/{{ order.hash_id }}'"
                                            class="order-table-button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </td>
                                <td>
                                    <button id="join-ref"
                                            onclick="location.href='/order/join-to-order/{{ order.hash_id }}'"
                                            class="order-table-button">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if bad_param %}
                        <a style="color: black">{{ bad_param }}</a>
                    {% endif %}
                </div>
                <div id="close-order-table" style="display: none;">
                    <br>
                    <table id="table-with-open-orders" style="width:90%; text-align: center;">
                        <tr>
                            <th>Owner</th>
                            <th>Closed time</th>
                            <th>Description</th>
                            <th>Preview</th>
                        </tr>
                        {% for cl_order in close_order_list %}
                            <tr>
                                <td>{{ cl_order.order_owner }}</td>
                                <td>{{ cl_order.prediction_order_time }}</td>
                                <td>{{ cl_order.description }}</td>
                                <td>
                                    <button id="preview-ref"
                                            onclick="location.href='/order/preview-order/{{ cl_order.hash_id }}'"
                                            class="order-table-button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if bad_param %}
                        <a style="color: black">{{ bad_param }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="/static/create_order.js"></script>
    <script src="/static/change_div_content.js"></script>
{% endblock %}