{% extends "../TeamPizza/index.html" %}

{% block title %} Sign up to Team Pizza {% endblock %}

{% block content %}
    <div id="wrapper">
        <div class="form-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Sign up</span>
            <form action="/user/sign-up/" method="post">r
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input name="name" type="text" placeholder="Name ..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input name="surname" type="text" placeholder="Surname ..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input name="nickname" type="text" placeholder="Nickname ..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input name="mail" type="email" placeholder="Email..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input name="password" type="password" placeholder="Password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input name="confirm_password" type="password" placeholder="Confirm password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <select class="select-role" name="role">
                        <option value="A">Admin</option>
                        <option value="M">Moderator</option>
                        <option value="U">User</option>
                    </select>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <button>
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
                <div class="switch-login">
                    <a href="log-form/">Already have an account? <span>Login</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}