{% extends '/TeamPizza/index.html' %}

{% block title %} Sign up to Team Pizza {% endblock %}

{% block content %}
    <div id="wrapper">
        <div class="form-container">
            <span class="form-heading">Sign up</span>
            <form action="">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username ..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm password..." required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <button>
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
                <div class="switch-login">
                    <a href="log-form/">Already have an account? <span>Login</span></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}