{% extends "../TeamPizza/index.html" %}

{% block title %} Sign up to Team Pizza {% endblock %}

{% block content %}

    <div id="account-wrapper">
        <div class="form-account-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">User Account</span>
            <div class="tab-window">
                <div class="tabs-account">
                    <button style="cursor: pointer; background-color: #ccc" id="update-tab"
                            onclick="changeDivToUpdate()">Update
                    </button>
                    <button style="cursor: pointer" id="remove-tab" onclick="changeDivToRemove()">Remove</button>
                    <button style="cursor: pointer; border-right: none" id="security-tab"
                            onclick="changeDivToSecurity()">Security
                    </button>
                </div>
                <div id="update-user-form" style="display: block">
                    <form class="update-account-form" action="/user/update-account/" method="post"
                          enctype='application/json'>
                        {% csrf_token %}
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="signupPwd" name="password" type="password" placeholder="Password..." required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="signupConfPwd" name="confirm_password" type="password"
                                   placeholder="Confirm password..."
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="signupPwd" name="old_password" type="password" placeholder="Old Password..."
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            {% if bad_pwd_params %}
                                <a style="color: black">{{ bad_pwd_params }}</a>
                            {% endif %}
                            <button id="updateButton">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="delete-user-form" style="display: none">
                    <form class="remove-account-form" action="/user/remove-account/" method="post"
                          enctype='application/json'>
                        {% csrf_token %}
                        <div class="input-group">
                            <i class="fas fa-trash"></i>
                            <a style="color: black">Account:</a>
                            <input name="removeCheckbox" type="checkbox" required>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="signupPwd" name="password" type="password" placeholder="Password..."
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            {% if bad_rm_params %}
                                <a style="color: black">{{ bad_rm_params }}</a>
                            {% endif %}
                            <button id="removeButton">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="last-login-table" style="display: none">
                    <br>
                    <table style="width:90%; text-align: center">
                        <tr>
                            <th>Id</th>
                            <th>IP address</th>
                            <th>Date</th>
                        </tr>
                        {% for login in login_list %}
                            <tr>
                                <td>{{ login.id }}</td>
                                <td>{{ login.ip_login }}</td>
                                <td>{{ login.last_login }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}