{% extends "../TeamPizza/index.html" %}

{% block title %} Account - Team Pizza {% endblock %}

{% block content %}
    <div id="account-wrapper">
        <div class="form-account-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Restore Password</span>
            <div class="tab-window">
                <div id="update-user-form" style="display: block">
                    <form class="update-account-form" action="/user/restore-pwd/" method="post"
                          enctype='application/json'>
                        {% csrf_token %}
                        <input hidden name="username" type="text" value="{{ username }}" required>
                        <input hidden name="token" type="text" value="{{ token }}" required>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="updatePwd" name="password" type="password" placeholder="Password..." required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <i class="fas fa-lock"></i>
                            <input id="updateConfPwd" name="confirm_password" type="password"
                                   placeholder="Confirm password..."
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            {% if bad_param %}
                                <a style="color: black">{{ bad_param }}</a>
                            {% endif %}
                            <button onclick="checkRestoreForm();" id="restorePwdButton">
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/parse_restore_pwd_forms.js"></script>
{% endblock %}