{% extends '../TeamPizza/index.html' %}

{% block title %} Login to Team Pizza {% endblock %}

{% block content %}
    <div id="login-wrapper">
        <div class="form-container">
            <a id="form-exit" href="/">
                <div class="cross">
                    <div id="line-1" class="cross-line"></div>
                    <div id="line-2" class="cross-line"></div>
                </div>
            </a>
            <span class="form-heading">Login</span>
            <form class="register-form" action="/user/mail-restore-pwd-send/" method="post" enctype='application/json'>
                {% csrf_token %}
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input title="min. 6 characters a-zA-Z0-9" id="emailRestore" name="email" type="text" placeholder="Write email" required>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    {% if bad_params %}
                        <p style="color: black">{{ bad_params }}</p>
                    {% endif %}
                    <button onclick="checkRestoreForm();" id="restoreButton">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/parse_pwd_restore_form.js"></script>
{% endblock %}